.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
}

.top span {
  padding-left: 20px;
  padding-right: 20px;
}

#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
}

#middle {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 100%;
  overflow: scroll;
}

#output {
  overflow: auto;
}

.subheader select {
  width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 0 0 0 0;
  line-height: 1.2;
  background-color: #ffe;
}

.disabled {
  color: #999;
  background-color: #ccc;
}

#status-message {
  display: inline-block;
  min-width: 20ch;
}
