.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
}

.top span {
  padding-left: 20px;
  padding-right: 20px;
}

#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
}

#middle {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 100%;
  overflow: scroll;
}

#output {
  overflow: auto;
}

.subheader select {
  width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 0 0 0 0;
  line-height: 1.2;
  background-color: #ffe;
}

.disabled {
  color: #999;
  background-color: #ccc;
}

#status-message {
  display: inline-block;
  min-width: 20ch;
}

.param-label .tooltip {
  visibility: hidden;
  position: absolute;
  margin-top: 40px;
  margin-left: -150px;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 5px;
  z-index: 1;
  overflow: visible;
  opacity: 0;
  transition: opacity 0.5s;
}

.param-label:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.param-option .option-tooltip {
  visibility: hidden;
  position: absolute;
  margin-top: 40px;
  margin-left: -200px;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 5px;
  z-index: 1;
  overflow: visible;
  opacity: 0;
  transition: opacity 0.5s;
}

.param-button {
  cursor: pointer;
}

.param-button table {
  background-color: #222;
  color: #eee;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
  visibility: hidden;
}

.param-button table.open {
  visibility: visible;
}

.param-button .open .param-option:hover {
  background-color: #248;
}

.param-button .open .param-option:hover .option-tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.param-button .param-box {
  border: 1px solid #222;
  background-color: #ccc;
  padding: 0px 4px;
  margin: 1px;
}
