.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

#middle {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 100%;
  overflow: scroll;
}

.subheader select {
  width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 0 0 0 0;
  line-height: 1.2;
  background-color: #ffe;
}